@model AlmApp.Web.Models.ViewModels.TransferViewModel

<div class="container-fluid">
    <form asp-controller="Transfer" asp-action="Transfer" method="post">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Transfer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Enter both account id's and a valid amount to complete transfer.</h6>

                <p class="card-text" style="color: red;">@TempData["msg"]</p>
                <div class="input-group input-group-lg pt-3 pb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">From Account</span>
                    </div>
                    <input type="text" asp-for="AccountFrom" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-lg pt-3 pb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">To Account</span>
                    </div>
                    <input type="text" asp-for="AccountTo" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="input-group input-group-lg pt-3 pb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Amount</span>
                    </div>
                    <input type="text" asp-for="Amount" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
                <div class="pt-3">
                    <button type="submit" class="btn btn-outline-dark">Transfer</button>
                </div>
            </div>
        </div>
    </form>
    <div asp-validation-summary="All">
    </div>
</div>