@model IEnumerable<AlmApp.Web.Entities.Customer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Max Bank</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Account No</th>
            <th scope="col">Balance</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <th scope="row">@customer.Id</th>
                    <td>@customer.Name</td>
                    <td>@customer.Account.Id</td>
                    <td>@customer.Account.Balance</td>
                </tr>
            }
        </tbody>
    </table>
</div>
